/BaseHog/Debug/*
/BaseHog/Release/*
/BaseHog/*.sdf
/BaseHog/x64/*
/SubSvr/Debug/*
/SubSvr/Release/*
/SubSvr/*.sdf
/SubSvr/*.db
/SubSvr/SubSvr.VC.VC.opendb
/SubSvr/SubSvr.v12.suo
/SubSvr/ipch/*
/SubSvr/.vs/*
/SubSvr/x64/*
/CenterSvr/Debug/*
/CenterSvr/Release/*
/CenterSvr/*.sdf
/CenterSvr/x64/*
/CenterData/Debug/*
/CenterData/Release/*
/CenterData/*.sdf
/CenterData/x64/*

/WebDemo/Debug/*
/WebDemo/Release/*
/WebDemo/*.sdf
/WebDemo/x64/*